<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    &copy; 2020 SendBox All right reserved
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        13 Sorrells Close RG24 8TB United Kingdom
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
