<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="footer-logo">
          &copy; 2021 SendBox All right reserved
          <p>
            <small>13 Sorrells Close Basingstoke RG24 8TB United Kingdom</small>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="footer-column"></div>
      </div>
      <div class="column">
        <div class="footer-column">
          <nav class="level is-mobile level-right">
            <div class="level-right">
              <a class="level-item" href="https://github.com/sendboxuk">
                <span class="icon">
                  <ion-icon name="logo-github" size="large"></ion-icon>
                </span>
              </a>

              <a class="level-item" href="https://twitter.com/sendboxuk">
                <span class="icon">
                  <ion-icon name="logo-twitter" size="large"></ion-icon>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
