<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Send<span class="altcolor">Box</span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">
            <div class="navbar-end">
                <a href="/#features" class="navbar-item is-secondary">
                    Features
                </a>
                <a href="/how-works" class="navbar-item is-secondary">
                    How it works
                </a>
                <a href="/what-next" class="navbar-item is-secondary">
                    What's Next?
                </a>                          
                <a href="/docs" class="navbar-item is-secondary">
                    Docs
                </a>
                <a href="/demo" class="navbar-item is-secondary">
                    Demo
                </a>          
                <a href="/#contact" class="navbar-item is-secondary">
                    Contact
                </a>                      
                <a class="navbar-item" href="/get-started">
                    <span class="button signup-button rounded secondary-btn raised">
                        Get Started
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>